<h3 id="<%= country.abbr %>" href="/<%= country.name %>" class="country-legal">
          <img class="sitemap-link-flag" src=<%=image_url("country-flags/#{country.abbr.downcase}.svg")%> alt=<%="#{country.name} Flag"%>>
          <span class="country-title"><%= country.name.titleize.gsub("-", " ") %></span>
          <div class=legality-status><%= show_svg('green-check.svg')%> Legal</div>
          </h3>
<div class="legal-description">
  <p>Brazil has not enacted any regulations or legislation against cryptocurrencies, therefore they are legal to buy and sell.</p>
  <p>In 2020, Brazilian lawmakers proposed legislation that would regulate cryptocurrencies and provide for a series of laws governing business use of cryptocurrencies.</p>
</div>