<h3 id="<%= country.abbr %>" href="/<%= country.name %>" class="country-legal">
          <img class="sitemap-link-flag" src=<%=image_url("country-flags/#{country.abbr.downcase}.svg")%> alt=<%="#{country.name} Flag"%>>
          <span class="country-title"><%= country.name.titleize.gsub("-", " ") %></span>
          <div class=legality-status><%= show_svg('green-check.svg')%> Legal</div>
          </h3>
<div class="legal-description">
  <p>The Costa Rican Central Bank announced that bitcoin and cryptocurrencies are not considered currencies, and are not backed by the government nor laws. However, they are not illegal. There are a few merchants who do accept bitcoins in the country.</p>
</div>
