<h3 id="<%= country.abbr %>" href="/<%= country.name %>" class="country-legal">
          <img class="sitemap-link-flag" src=<%=image_url("country-flags/#{country.abbr.downcase}.svg")%> alt=<%="#{country.name} Flag"%>>
          <span class="country-title"><%= country.name.titleize.gsub("-", " ") %></span>
          <div class=legality-status><%= show_svg('green-check.svg')%> Legal</div>
          </h3>
<div class="legal-description">
  <p>The U.S. Treasury classified bitcoin as a convertible decentralized virtual currency in 2013. The Commodity Futures Trading Commission, CFTC, classified bitcoin as a commodity in September 2015. Per the Internal Revenue Service (IRS), bitcoin is taxed as a property.</p>
</div>
