<h3 id="<%= country.abbr %>" href="/<%= country.name %>" class="country-legal">
          <img class="sitemap-link-flag" src=<%=image_url("country-flags/#{country.abbr.downcase}.svg")%> alt=<%="#{country.name} Flag"%>>
          <span class="country-title"><%= country.name.titleize.gsub("-", " ") %></span>
          <div class=legality-status><%= show_svg('green-check.svg')%> Legal</div>
          </h3>
<div class="legal-description">
  <p>It is legal to trade and hold bitcoin as well as other cryptocurrencies in Belgium.</p>
  <p>The National Bank of Belgium and the Financial Services and Markets Authority has warned citizens that digital currencies are not legal tender, and have warned against various risks associated with their use.</p>
</div>