<h3 id="<%= country.abbr %>" href="/<%= country.name %>" class="country-legal">
          <img class="sitemap-link-flag" src=<%=image_url("country-flags/#{country.abbr.downcase}.svg")%> alt=<%="#{country.name} Flag"%>>
          <span class="country-title"><%= country.name.titleize.gsub("-", " ") %></span>
          <div class=legality-status><%= show_svg('green-check.svg')%> Legal</div>
          </h3>
<div class="legal-description">
  <p>Bitcoin and other cryptocurrencies are not regulated or controlled by the government making them legal to buy, sell, and hold in Estonia.</p>
  <p>In 2022, the government of Estonia introduced a draft legislation for tighter regulation of crypto markets but the Finance Minister assured there would be no explicit bans.</p>
</div>