<h3 id="<%= country.abbr %>" href="/<%= country.name %>" class="country-legal">
          <img class="sitemap-link-flag" src=<%=image_url("country-flags/#{country.abbr.downcase}.svg")%> alt=<%="#{country.name} Flag"%>>
          <span class="country-title"><%= country.name.titleize.gsub("-", " ") %></span>
          <div class=legality-status><%= show_svg('green-check.svg')%> Legal</div>
          </h3>
<div class="legal-description">
  <p>Kazakhstan is one of the largest bitcoin mining producing countries in the world, accounting for one-fifth of the world's bitcoin mining at the end of August 2021.</p>
  <p>Kazakhstan offers a favorable legal environment to establish mining operations and implements a 15% tax rate for cryptocurrency income or income derived from mining.</p>
</div>