<h3 id="<%= country.abbr %>" href="/<%= country.name %>" class="country-legal">
          <img class="sitemap-link-flag" src=<%=image_url("country-flags/#{country.abbr.downcase}.svg")%> alt=<%="#{country.name} Flag"%>>
          <span class="country-title"><%= country.name.titleize.gsub("-", " ") %></span>
          <div class=legality-status><%= show_svg('green-check.svg')%> Legal</div>
          </h3>
<div class="legal-description">
  <p>Bitcoin and other cryptocurrencies are legal to trade and hold in Lithuania.</p>
  <p>Income received from individual purchases and sales of crypto are taxed at a fixed 15% personal income tax rate.</p>
</div>