<h3 id="<%= country.abbr %>" href="/<%= country.name %>" class="country-legal">
          <img class="sitemap-link-flag" src=<%=image_url("country-flags/#{country.abbr.downcase}.svg")%> alt=<%="#{country.name} Flag"%>>
          <span class="country-title"><%= country.name.titleize.gsub("-", " ") %></span>
          <div class=legality-status><%= show_svg('green-check.svg')%> Legal</div>
          </h3>
<div class="legal-description">
  <p>Bitcoin and other cryptocurrencies are not regulated in New Zealand and are legal to trade and hold.</p>
  <p>As of current, there are no explicit legislation regulating cryptocurrencies in New Zealand, but contract and tax laws apply to cryptocurrency.</p>
</div>