<h3 id="<%= country.abbr %>" href="/<%= country.name %>" class="country-legal">
          <img class="sitemap-link-flag" src=<%=image_url("country-flags/#{country.abbr.downcase}.svg")%> alt=<%="#{country.name} Flag"%>>
          <span class="country-title"><%= country.name.titleize.gsub("-", " ") %></span>
          <div class=legality-status><%= show_svg('green-check.svg')%> Legal / <%= show_svg('red-x.svg')%> Banking ban</div>
          </h3>
<div class="legal-description">
  <p>Consumers can legally trade Bitcoin and other cryptocurrencies in Saudi Arabia but with no financial protections for any losses relating to the use of such cryptocurrencies.</p> 
  <p>Financial institutions, like banks, are not permitted to deal with cryptocurrency, unless permitted by SAMA.</p>
</div>

